{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

    {% block main %}
    <main>
    <!-- Modal -->
    {% include 'components/_modal.html' %}

    <!-- Start Banner Hero -->
    {% include 'shop/components/_banner.html' %}
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
        {% include 'shop/components/_top_category.html' %}
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
        {% include 'shop/components/_featured_prod.html' %}
    <!-- End Featured Product -->
    </main>
    {% endblock main %}